.crm-layout {
  height: 100%;
}
.crm-header {
  display: flex;
  flex-direction: row;
  z-index: 1;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  height: 56px;
  padding: 0 24px;
  .ant-menu-horizontal.ant-menu-horizontal {
    height: 52px;
    line-height: 52px ;
    border-bottom: 0;
  }
  &-left {
    flex: 1;
    display: flex;
    align-items: center;
    &__fold {
      cursor: pointer;
      font-size: 16px;
      color: #9E9E9E;
      padding: 0 24px 0 30px;
      line-height: 56px;
    }
    .ant-menu-item {
      margin: 0 24px;
    }
    .ant-menu-item, .ant-menu-submenu-title {
      padding: 0;
    }
  }
  &-action {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__avatar {
    display: inline-block;
    .anticon {
      margin-left: 8px;
    }
    .ant-avatar {
      margin-right: 8px;
    }
    cursor: pointer;
  }
}
.crm-container {
  display: flex;
  flex-direction: row;
}
.crm-aside {
  display: flex;
  &-left {
    .ant-menu-item {
      text-align: center;
      height: 48px;
      line-height: 48px;
      .anticon {
        font-size: 22px;
      }
    }
  }
  &-right {
    background: #fff;
    display: flex;
    flex-direction: column;
    &--label {
      padding-left: 16px;
      height: 48px;
      line-height: 48px;
      position: relative;
      &:after {
        content: '';
        height: 1px;
        background: #f0f0f0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
  &-tabs {
    .ant-menu-item {
      height: 32px !important;
      line-height: 32px !important;
      &:not(.ant-menu-item-selected) {
        &:hover {
          color: #757575;
        }
      }
      &.ant-menu-item-selected {
        background-color: transparent !important;
        &:after {
          content: none;
        }
      }
    }
    .ant-menu-submenu-title {
      color: #757575;
      &:hover {
        color: #757575;
      }
    }
    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.crm-content {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.crm-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  &--label {
    padding: 8px 0;
    padding-right: 8px;
    color: #757575;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &.parent {
      color: #424242;
    }
    &[data-checked='true'] {
      color: #9CCC65;
    }
    >span {
      display: inline-block;
      padding: 0 4px;
      height: 16px;
      font-size: 10px;
      border-radius: 8px;
      min-width: 16px;
      line-height: 16px;
      text-align: center;
      color: #63D8F8;
      border: 1px solid #e6fffb;

      &[data-status='0'] {
        color: #FF9C7E;

        border:1px solid #ffe5d3
      }
      &[data-status='1'] {
        color: #90D24D;
        border:1px solid #edfbd0;
      }
    }
  }
  &-item {
    cursor: pointer;
    padding-right: 0;
    padding-left: 16px;
    &.parent {
      color: #424242;
    }
  }
}
